

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .body {
    display: grid;
    margin: 0;
    padding: 0;
    background-color: #dadada;
    /* Kolor tła strony */
  }
.body--edytor{


    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto;

}

  
head {
    display: none;
  }