



.button--data {
    background-color: green;

  
  }
  
  .button--data:hover {
  
    background-color: #375a06;
  }
  
  .button--question {
  
    background-color: green
  }
  
  .button--question:hover {
  
    background-color: #375a06;
  }

  .button {
    background-color: rgba(200, 12, 12, 0.655);
   
    color: white;
   
    padding: 10px 15px;
    
    border: none;
    
    border-radius: 5px;
   
    cursor: pointer;
    
  
    margin: 10px;
  
  }

  .button:hover {
    background-color: rgba(10, 25, 239, 0.655);

  }
  
  .button--sign{

    justify-items: center;
    max-width: 300px;
  }

  .button--call{
    display: inline-block;
    width: 100px; 
    height: 38px; 
    
    border-radius: 20%;
    background-color: blue;
    color: white;
    text-align: center;
 
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    overflow: hidden; 
  }
  .button--next-step:hover {
   
    background-color: rgb(42, 208, 42);
  }

