.container {

    background-color: rgb(255, 255, 255);
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;


}

.container__iframe {
    width: 80%;
    height: 40vh;
    place-self: center;
}

.container--dataCompany {
    background-color: white;
    display: grid;
    max-width: none;
    height: auto;

}

.container--conversion {

    display: grid;
    gap: 10px;
    font-size: 75%;
 
}
.container--questions{
    display: block;
    margin:8px;
}

.container--phone-top-ups{

    margin:0;
}

.container--questions-to-aplication{
    margin:8px;
    display: block;
}

.container__item {
    display: grid;
   
}

.container__section {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10px;
    align-items: center;
}

.container__section--company{

  font-size: 100%;
}



.container__section--hide {
    display: none;
}

.container__section--summary {
    grid-template-columns: 1fr;
    display: none;
    margin:15px;
    font-size: 18px;

}

.container__section--summary.visible {

    display: grid;

    color: blue;
}

.container__button {
    margin: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;

}

.container__button:hover {
    background-color: #0056b3;
}


.container__button--next-step{
    
}


.container__input {
    display: grid;
    text-align: right;
    box-sizing: border-box;
    width: 100%;

}

.container__input--calculated-average-commission-rate-competition{

    border: none;

}

.container__input.incorrect{
        border: 3px solid red; /* Dodaj czerwoną obwódkę wokół pustego pola */
      }

     .container__input--calculate{

        border: none;
        outline: none;
        text-align: center;
     }


     .container__section--options{
        grid-template-columns: 1fr;
        gap:10px;
        margin-bottom: 15px;
        padding: 20px;

      }

     .container__section--option{
        grid-template-columns: auto 1fr;
    

     }
 
     .container__input--options{
        display: block;
     }

   