.container {

    background-color: rgb(255, 255, 255);
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;

}

.container__iframe {
    width: 80%;
    height: 40vh;
    place-self: center;
}

.container--dataCompany {
    background-color: white;
    display: grid;
    max-width: none;
    height: auto;

}
.container--conversion {
    margin: 10px;
}

.container__item {
    display: grid;
}

.container__section {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.container__section--non-cash-transactions {

    grid-template-columns: 1fr 1fr;

}

.container__section--different-price{
    grid-template-columns: 1fr 1fr;
}

.container__section--average-transakction {

    grid-template-columns: 1fr 1fr;
}

.container__section--summary{
    grid-template-columns: 1fr;
    display: none;

}

.container__section--summary.visible{

    display: grid;
  
    color: blue;
}

.container__button {
    margin: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
   
}

.container__button:hover {
    background-color: #0056b3;
}


.container__input{
    display: grid;
}

