.form {

  display: grid;
  grid-column: 1fr;
  max-width: auto;
  padding: 20px;
  font-size: auto;
  gap:10px;
  border-color: rgb(28, 23, 18);
}

.form--dataCompany {
  display: grid;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  margin: 10px;

}


.form__span {

  margin-bottom: 30px
}
.form__input{
justify-self: left;
}
