.form {

  display: grid;
  grid-column: 1fr;
  max-width: auto;
  padding: 20px;
  font-size: auto;
  gap:10px;
  border-color: rgb(28, 23, 18);
}

.form--dataCompany {
  display: grid;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  margin: 10px;

}


.form__span {

  margin-bottom: 30px
}
.form__input{
  padding: 10px;
  display: grid;


}
.form__checkbox{
  margin-right: 8px;

}
.form__button{
background-color: rgb(59, 125, 224);
   
color: white;
width: 80%;
justify-self: center;
padding: 10px;
}
.form__button:hover{
  background-color: rgb(112, 165, 244);
}
.incorrect{
  border: 3px solid red; /* Dodaj czerwoną obwódkę wokół pustego pola */

}