


.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    height: 140px;
  
  }
  
  

  .header__img {
    height: 80px;
  }
  
  .header__anchor {
    display: grid;
    text-decoration: none;
    color: #0c84fb;
    font-weight: bold;
    text-align: right;
    padding: 5px;
    font-size: 28px;
    margin-top: 8px;
  }
  .header__anchor:hover {
    text-decoration: underline;
    color: #061b7b;
  }
  

  
.h1 {


  padding: 0px;
  margin: 0px;
  margin: 8px;

  margin-top: 25px;
  margin-bottom: 25px;
  text-align: justify;
}


@media only screen and (max-width: 500px) {




    
 


  .header{
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
  }
  
  .header__anchor {
      font-size: 27px;
  }
  
  }