.img {

  display: block;
  margin: 0 auto;
  max-width: 75%;
  height: auto;

  
  }

  .img--companies{
 max-width: 100%;


  margin: 10px;
}

.img--terminals{

  max-width: 180px; /* Maksymalna szerokość obrazka */
  max-height: 180px; /* Maksymalna wysokość obrazka */
  width: 100%; /* Zapewnia, że obrazy będą zajmować całą przypisaną im szerokość */
  height: auto; /* Zapewnia, że obrazy zachowają proporcje */
  object-fit: cover; /* Zachowuje proporcje obrazu wewnątrz kontenera */
}
  