.paragraf {

    margin: 10px;
    text-align: justify;
  }
  
  .paragraf--termination {
  
  
    margin: 80px;
    margin-left: 15px;
    margin-right: 15px;
  }

  

.paragraf {

    margin: 10px;
    text-align: justify;
  }
  
  .paragraf--termination {
  
  
    margin: 80px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .paragraf--date{

    margin-left: 4px;
  }