.section {

  display: grid;
  grid-template-columns: 1fr auto;
  margin: 6px;
}

.section--editor {

  display: grid;
  grid-template-columns: 1.7fr 1fr;
  margin: 10px;
  max-width: 650px;

  background-color: rgb(223, 224, 220);
  font-size: 0.9em;


}



.section--termination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px;
  margin-left: 5px;
}

.section--terminationDate {

  margin: 0px;
}

.section--terminationCompany {

  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.section--companyName {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5px;

}

.section--companyNameTerminal {

  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5px;
  text-align: right;
}

.section--signed {
  margin-top: 100px;
}


.section__span {
  display: grid;

  padding: 4px
}


.section__form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.section--wayToFinalize {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}



.section--stepToFinalize {
  display: grid;

  grid-template-columns: 1fr;
  place-items: center;
}

.section__img {

  width: 100%;
}

.section--oneColumn {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  max-width: 650px;

  background-color: rgb(223, 224, 220);

}





.section--product {

  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  background-color: rgb(223, 224, 220);




}

.section--productValue {

  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  background-color: rgb(223, 224, 220);
  max-width: 500px;

}