
.div {
  display: grid;
  grid-column: auto auto;

}

.div__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /* Dostosuj margines między przyciskami według potrzeb */
}







.dropdownoption {
  -webkit-appearance: none; /* Usuwa strzałkę w Chrome, Safari i Opera */
            -moz-appearance: none;    /* Usuwa strzałkę w Firefox */
            appearance: none;         /* Usuwa strzałkę w standardzie */
            border: none;             /* Usuwa border */
            background: none;         /* Usuwa tło */
            padding: 10px;            /* Ustawienie odstępów wewnętrznych */
            font-size: 16px;          /* Ustawienie rozmiaru czcionki */
               
}


.progress{

  width: 100%;
  height: 30px;


}

.input.incorrect{
  border: 3px solid red; /* Dodaj czerwoną obwódkę wokół pustego pola */
}




.progress-bar-container {


  height: 25px; /* Zmiana wysokości kontenera paska postępu */
  background-color: #ddd;
  display: flex;
  align-items: center; /* Centralizacja paska postępu w pionie */
  margin-left: 24px;
  margin-right: 24px;
}
.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 25%;
}
.progress-bar--representation{
  width: 50%;
}
.progress-bar--pointData{
  width: 70%;
}

.hidden{
  display: none;
}